# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Gatuk S. Chattanon
#	email = gatukgl@gmail.com
[user]
	name = Gatuk S Chattanon
	email = gatukgl@gmail.com
[core]
	editor = /usr/bin/vim
